{% extends "base.html" %}

{% block title %}Explore National Parks - Login New User{% endblock %}

{% block content %}

<form method="post">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column" style="min-width: 25rem;">
      <h1 class="py-3 display-3 m-auto">Login</h1>
      {{ form.hidden_tag() }}

      {% for field in form 
        if field.widget.input_type != 'hidden' %}
      <div class="form-group my-2">
        {{field.label}}
        {{field(class="form-control")}}

        {% for error in field.errors %}
        <span class="font-italic text-danger">{{error}}</span>
        {% endfor %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-lg my-3">Login</button>
    </div>
  </div>
    
</form>

{% endblock %}