{% extends "base.html" %}

{% block title %}Explore National Parks - Park detail for {{ park.full_name }}{% endblock %}

{% block hero %}
  <img class="pt-5" style="max-width: 100vw;"
       src="{{ park.image_url }}" 
       alt="{{ park.image_alt }}">
{% endblock %}


{% block content %}

<h2 class="my-4">{{ park.full_name }}</h2>
<p>{{ park.description }}</p>
<a href="{{ park_url }}">Visit Official Park Website</a><br><br>
<p><strong>List of States:</strong> {{ states }}</p>
<p><strong>List of Activities:</strong> {{ activities }}</p>
<p><strong>List of Topics:</strong> {{ topics }}</p>

<h3 class="my-4">Notes</h3>
{% if park.note %}
<p>{{ park.note }}</p>
{% endif %}

{% endblock %}